@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Bienvenido a EncuentraTCU!</h1>
        <h3 id="title" class=" text-muted">
            Nuestro objetivo es ofrecer la mejor experiencia de búsqueda para estudiantes que buscan oportunidades de Trabajos Comunes Universitarios (TCU).
            Somos un equipo comprometido con facilitar el acceso a información relevante y actualizada, ayudando a los estudiantes a encontrar el TCU ideal para su formación académica.
        </h3>
        <div class="d-flex justify-content-center">
            <img src="https://images.pexels.com/photos/6147219/pexels-photo-6147219.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" width="1000px" class="img-fluid mt-2">
        </div>
    </section>
</main>