<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>¡Ups! Algo salió mal</title>
</head>
<body>
    <hgroup>
        <h1>¡Oops! Algo no salió como esperábamos.</h1>
        <h2>Estamos trabajando para solucionarlo.</h2>
        <h2>Por favor, intenta nuevamente en unos minutos. Si el problema persiste, contáctanos para obtener ayuda en 25600980</h2>
    </hgroup>
</body>
</html>
